// brandbar

.brandbar {
  width: 100%;
  background: #ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 22px 0;
  .brandbar__title {
    color: #333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 12px;
  }
  .brandbar__descr {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .brandbar__icons {
    width: 635px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 40px;
    }
  }
}

@media screen and (max-width: 420px){
  .brandbar {
    width: 100%;
    max-width: 420px;
    background: #ffff;
    padding: 20px 0;
    display: block;
    .brandbar__title {
      text-align: center;
      color: #333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    .brandbar__descr {
      text-align: center;
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
      padding-bottom: 20px;
    }
    .brandbar__icons {
      width: 90%;
      margin: 0 auto;
      img {
        width: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .brandbar {
    width: 90%;
    max-width: 1024px;
    background: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    .brandbar__title {
      color: #333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 12px;
      margin: 0;
    }
    .brandbar__descr {
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
    }
    .brandbar__icons {
      width: 45%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 30px;
      }
    }
  }
}