// header

.header {
  width: 100%;
  background-image: url(/img/bg.png);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .prewiew {
    .prewiew__logo {
      width: 175px;
      height: 60px;
      padding: 132px 566px 33px 0px;
    }
    .prewiew__title {
      color: #ffffff;
      font-family: "Raleway";
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 36px;
    }
    .prewiew__descr {
      padding-top: 30px;
      width: 461px;
      opacity: 0.8;
      color: #ffffff;
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      padding-bottom: 44px;
    }
    .prewiew__button {
      padding-bottom: 153px;
      button {
        border: 1px solid #ffff;
        padding: 15px 32px;
        background: transparent;
        a {
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  .signup {
    width: 360px;
    background: #ffff;
    .signup__title {
      width: 252px;
      color: #333333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      background-image: url(/img/card_header_u257.png);
      padding: 18px 56px 15px 52px;
      margin: 0;
    }
    .signup_colortext {
      color: #ff8b38;
    }
    .signup__input {
      box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
      padding-top: 44px;
      width: 285px;
      margin: 0 auto;
      input {
        border: none;
        padding: 10px 15px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
      }
    }
    .signup__button {
      padding-top: 49px;
      button {
        width: 360px;
        height: 54px;
        background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
        border: none;
        color: #ffff;
        font-family: "Open Sans - Semibold";
        font-size: 15px;
        font-weight: 400;
        a {
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
}