.navbar {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
    .menu-logo img {
      width: 79px;
      height: 27px;
    }
    .menu-nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Open Sans - Semibold";
      font-size: 14px;
      font-weight: 400;
      li {
        padding-left: 50px;
        a {
          text-decoration: none;
          opacity: 0.69;
          color: #ffffff;
        }
      }
    }
  }