.pricing {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    .pricing-var {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      padding: 80px 0px 96px;
      .var-one {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        width: 343px;
        height: 59px;
        background-image: url(./img/card_header_u266.png);
      }
      .var-two {
        color: #ffffff;
        font-family: Raleway;
        font-size: 94px;
        font-weight: 700;
        line-height: 24px;
        /* Text style for "$"
        font-size: 35px; */
        background-image: url(./img/card_price_u268.png);
        width: 343px;
        height: 100px;
      }
      .var-three {
        opacity: 0.5;
        color: #ffffff;
        font-family: "Open Sans - Semibold";
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        line-height: 24px;
        background-image: url(./img/card_sub_text_u270.png);
        width: 343px;
        height: 51px;
      }
      .var-four {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        background: #ffff;
        width: 343px;
        height: 40px;
      }
      .orange-slot {
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        background-image: url(./img/u319.png);
        width: 343px;
        height: 40px;
      }
    }
  }