.process .process__icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 30px 105px;
    .process__icons_text {
      width: 350px;
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }