<!-- feature -->

<section class="featureone">
    <form>
        <div>
            <button class="tap-model"><a href="#">TAB 1</a></button>
        </div>
        <div>
            <button class="tap-model"><a href="#">TAB 2</a></button>
        </div>
        <div>
            <button class="tap-model"><a href="#">TAB 3</a></button>
        </div> 
    </form>
    <div class="feature">
        <h2 class="feature__title">Tabs with soft transitioning effect.</h2>
        <p class="feature__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
            bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra 
            justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque 
            penatibus et magnis dis parturient montes.</p>  
        <p class="feature__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
            bibendum laoreet.</p>
        <form class="feature__button">
            <button><a href="#">Download</a></button>
        </form>
    </div>
    <div>
        <img src="img/image_right_u255.png" alt="">
    </div>
</section>
<section class="featuretwo">
    <div class="feature-screen">
        <img src="img/image_left_sub_list_u260.png" alt="">
    </div>
    <div class="feature">
        <h2 class="feature__title">Sub list section</h2>
        <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
        <p class="feature__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus 
            accumsan et viverra justo commodo.</p>
        <div class="feature-sublist">
            <img src="icon/list_icon_upload.png" alt="" class="icon_upload">
            <h3 class="feature__subtitle">Title</h3>
            <p class="feature__subdescr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aenean euismod bibendum laoreet. </p>
            <img src="icon/list_icon_upload.png" alt="" class="icon_upload">
            <h3 class="feature__subtitle">Title</h3>
            <p class="feature__subdescr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Aenean euismod bibendum laoreet. Proin gravida dolor 
                    sit amet lacus accumsan et viverra justo commodo.</p>
        </div>
    </div>
</section>
<section class="featurethree">
    <div class="feature">
        <h2 class="feature__title">Standard Picture Section</h2>
        <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
        <p class="feature__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean 
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan 
            et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis 
            natoque penatibus et magnis dis parturient montes..</p>
        <p class="feature__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod 
            bibendum laoreet</p>
        </div>
    <div class="feature-screen">
        <img src="img/image_right_standard_u262.png" alt="">
    </div>
</section>    