.contact {
  .contact-area {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 80px;
    padding-bottom: 43px;
    .contact-area_input, .contact-area_textarea {
      box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
      padding-top: 30px;
      width: 527px;
      text-align: left;
      color: #bdbdbd;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
    .contact-area_input input {
      border: none;
      padding: 10px 15px;
      color: #bdbdbd;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
    }
    .contact-area_textarea textarea {
      border: none;
      color: #bdbdbd;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      width: 527px;
      height: 160px;
    }
  }
  .contact__button {
    padding-bottom: 63px;
    button {
      width: 148px;
      height: 46px;
      background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
      border: none;
      color: #fff;
      font-family: "Open Sans-Semibold";
      font-size: 15px;
      font-weight: 400;
      a {
        font-family: "Open Sans-Semibold";
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #ffff;
      }
    }
  }
}

@media screen and (max-width: 420px){
  .contact {
    .contact-area {
      display: block;
      padding: 20px 0;
      .contact-area_input, .contact-area_textarea {
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        width: 90%;
        text-align: left;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        margin: 5px auto;
      }
      .contact-area_input input {
        border: none;
        padding: 5px 10px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
      }
      .contact-area_textarea textarea {
        border: none;
        padding: 10px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        height: auto;
      }
    }
    .contact__button {
      padding-bottom: 30px;
      button {
        width: 148px;
        height: 46px;
        background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
        border: none;
        color: #ffff;
        font-family: "Open Sans-Semibold";
        font-size: 15px;
        font-weight: 400;
        a {
          font-family: "Open Sans-Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #ffff;
        }
      }
    }
  }
}