.custom {
  width: 100%;
  background-image: url(/img/u25_state0.png);
  text-align: center;
  background-size: cover;
  .custom__title {
    color: #ffff;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    padding-top: 74px;
    padding-bottom: 26px;
  }
  .custom__descr {
    opacity: 0.8;
    color: #fff;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 300;
    padding-top: 23px;
    padding-bottom: 33px;
  }
  .custom__button {
    padding-bottom: 63px;
    button {
      border: 1px solid #ffff;
      padding: 15px 32px;
      background: transparent;
      a {
        font-family: "Open Sans - Semibold";
        font-size: 15px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 420px){
  .custom {
    width: 100%;
    max-width: 420px;
    background-image: url(/img/u25_state0.png);
    text-align: center;
    background-size: cover;
    .custom__title {
      color: #ffff;
      font-family: "Raleway";
      font-size: 20px;
      font-weight: 400;
      padding-top: 30px;
      padding-bottom: 10px;
      margin: 0;
    }
    .custom__descr {
      opacity: 0.8;
      color: #fff;
      font-family: "Raleway";
      font-size: 10px;
      font-weight: 300;
      padding: 0;
      margin: 0;
    }
    .custom__button {
      padding: 20px 0;
      button {
        border: 1px solid #fff;
        padding: 10px 20px;
        background: transparent;
        a {
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #ffff;
        }
      }
    }
  }
}