.featureone {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .tap-model {
      display: block;
      width: 112px;
      height: 112px;
      background-image: url(/img/tab_2_button_u85_mouseover.png);
      a {
        color: #ffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:hover {
        background-image: url(/img/tab_1_button_u83_selected.png);
      }
    }
    .feature {
      display: block;
      text-align: justify;
    }
    .feature__title {
      color: #000000;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 52px;
    }
    .feature__descr {
      width: 476px;
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    .feature__button {
      padding-top: 50px;
      button {
        border: none;
        padding: 15px 25px;
        background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
        a {
          color: #ffffff;
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          text-decoration: none;
        }
      }
    }
    img {
      padding: 170px 0px;
    }
  }

.featuretwo {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .feature-screen {
    width: 525px;
    height: 375px;
    padding: 7% 0;
  }
  .feature {
    .feature__title {
      color: #000000;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      margin: 0;
    }
    .feature__descr {
      width: 476px;
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin: 0;
    }
    .feature-sublist {
      padding-top: 44px;
    }
    .icon_upload {
      width: 40px;
      height: 40px;
      padding-right: 30px;
      float: left;

    }
    .feature__subtitle {
      color: #212121;
      font-family: "Open Sans - Semibold";
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      margin: 0;
    }
    .feature__subdescr {
      width: 365px;
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding-bottom: 44px;
      margin: 0;
    }
  }
}

  .featurethree{
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.featurethree .feature__title{
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}
.featurethree .feature__descr{
    width: 476px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
}
.featurethree .feature-screen{
    width: 525px;
    height: 375px;
    padding: 7% 0;
}