// header

.header {
  width: 100%;
  background-image: url(/img/bg.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .prewiew {
    .prewiew__logo img {
      width: 175px;
      height: 60px;
      padding-top: 180px;
    }
    .prewiew__title {
      color: #fff;
      font-family: "Raleway";
      font-size: 36px;
      font-weight: 400;
      padding-bottom: 36px;
    }
    .prewiew__descr {
      padding-top: 30px;
      width: 461px;
      opacity: 0.8;
      color: #fff;
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      padding-bottom: 44px;
    }
    .prewiew__button {
      padding-bottom: 153px;
      button {
        border: 1px solid #ffff;
        padding: 15px 32px;
        background: transparent;
        a {
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #ffff;
        }
      }
    }
  }
  .signup {
    width: 360px;
    background: #ffff;
    .signup__title {
      width: 252px;
      color: #333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      background-image: url(/img/card_header_u257.png);
      padding: 18px 56px 15px 52px;
      margin: 0;
    }
    .signup_colortext {
      color: #ff8b38;
    }
    .signup__input {
      box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
      padding-top: 44px;
      width: 285px;
      margin: 0 auto;
      input {
        border: none;
        padding: 10px 15px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
      }
    }
    .signup__button {
      padding-top: 49px;
      button {
        width: 360px;
        height: 54px;
        background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
        border: none;
        color: #ffff;
        font-family: "Open Sans - Semibold";
        font-size: 15px;
        font-weight: 400;
        a {
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 420px){
  .header {
    width: 100%;
    max-width: 420px;
    background-image: url(/img/bg.png);
    background-size: cover;
    display: block;
    .prewiew {
      width: 100%;
      max-width: 420px;
      padding: 10px 0px;
      text-align: center;
      .prewiew__logo img {
        display: none;
      }
      .prewiew__title {
        width: 90%;
        max-width: 420px;
        color: #fff;
        font-family: "Raleway";
        font-size: 28px;
        font-weight: 400;
        padding: 10px;
        display: block;
        margin: 0 auto;
      }
    }
  }
  
  .divider-white {
    padding: 10px 20px;
  }
  
  .header {
    .prewiew {
      .prewiew__descr {
        width: 90%;
        max-width: 420px;
        opacity: 0.8;
        color: #fff;
        font-family: "Raleway";
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        margin: 0 auto;
        padding: 0;
        text-align: center;
      }
      .prewiew__button {
        padding: 20px;
        text-align: center;
        button {
          border: 1px solid #ffff;
          padding: 10px 20px;
          background: transparent;
          a {
            font-family: "Open Sans - Semibold";
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            color: #ffff;
          }
        }
      }
    }
    .signup {
      width: 100%;
      margin: 0 auto;
      .signup__title {
        width: auto;
        color: #333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        background-image: url(/img/card_header_u257.png);
        padding: 10px 20px;
        text-align: center;
        margin: 0;
      }
      .signup_colortext {
        color: #ff8b38;
      }
      .signup__input {
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        padding-top: 10px;
        width: 90%;
        margin: 0 auto;
        input {
          border: none;
          padding: 10px 15px;
          color: #bdbdbd;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
        }
      }
      .signup__button {
        padding-top: 10px;
        button {
          width: 100%;
          background-image: url(/img/btn_primary_block_level_u79_mouseover.png);
          border: none;
          font-family: "Open Sans - Semibold";
          font-size: 15px;
          font-weight: 400;
          padding: 10px 0;
          a {
            font-family: "Open Sans - Semibold";
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            color: #fff;
          }
        }
      }
    }
  }
}