// navbar

.navbar {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 7%;
    .menu-logo img {
      width: 79px;
      height: 27px;
    }
    .menu-nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: "Open Sans-Semibold";
      font-size: 14px;
      font-weight: 400;
      li {
        padding-left: 50px;
        a {
          text-decoration: none;
          opacity: 0.69;
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (max-width: 420px){
    .navbar {
      width: 100%;
      max-width: 420px;
      padding: 0;
      .menu-logo img {
        width: 79px;
        height: 27px;
        display: block;
        padding: 10px 20px;
      }
    }
    
    .burger-menu {
      display: block;
      background: #ff8b38;
    }
    
    .navbar .menu-nav {
      width: 420px;
      position: absolute;
      top: 40px;
      left: -40px;
      padding: 8px 0;
      transition: all .5s linear;
      visibility: hidden;
      opacity: 0;
      ul {
        width: 100%;
        height: auto;
        max-width: 420px;
        display: block;
        font-family: "Open Sans-Semibold";
        font-size: 14px;
        font-weight: 400;
        list-style: none;
        margin: 0;
        li {
          padding: 5px 0px;
          text-align: center;
          border: 1px solid #333;
          background: #000;
          a {
            text-transform: uppercase;
            text-decoration: none;
            opacity: 0.69;
            color: #ffff;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
    
    .burger-menu:hover ~ .menu-nav {
      display: inline-block;
      padding: 0;
      width: 100%;
      height: auto;
      max-width: 420px;
      visibility: visible;
      opacity: 1;
    }
  }