.review {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 55px 0px 101px;
  .review-repl {
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    background-image: url(/img/u229.png);
    width: 273px;
    height: 82px;
    margin: 0;
    padding: 24px 13px 41px;
    text-align: justify;
  }
  .review-face {
    float: left;
    margin-right: 15px;
  }
  .review-info {
    padding-top: 10px;
    .review-name {
      color: #333333;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      padding: 17px 0 8px;
    }
    .review-post {
      color: #86878b;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 12px;
    }
  }
}