<!-- contact -->

<section class="contact">
    <h1 class="great-title">CONTACT US</h1>
    <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
    <p class="great-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <form class="contact-area">
        <div>
            <div class="contact-area_input">
                <input type="text" placeholder="Name">
            </div>
            <div class="contact-area_input">
                <input type="text" placeholder="Email">
            </div>
            <div class="contact-area_input">
                <input type="text" placeholder="Subject">
            </div>
        </div>
        <div class="contact-area_textarea">
            <textarea type="text" placeholder="Message"></textarea>
        </div>
    </form>
    <form class="contact__button">
        <button><a href="#">Send Message</a></button>
    </form>
</section>