<footer class="footer">
        <div class="footer__icons">
            <a href="#"><img src="icon/facebook.png" alt=""></a>
            <a href="#"><img src="icon/twitter.png" alt=""></a>
            <a href="#"><img src="icon/google.png" alt=""></a>
            <a href="#"><img src="icon/pinterest.png" alt=""></a>
            <a href="#"><img src="icon/instagram.png" alt=""></a>
            <a href="#"><img src="icon/socialstumble.png" alt=""></a>
            <a href="#"><img src="icon/rss.png" alt=""></a>
        </div>
        <p class="footer-text">© 2015 Axure Themes</p>
    </footer>