<header class="header">
    <div class="prewiew">
        <div class="prewiew__logo">
            <img src="img/Logo.png" alt="logo">
        </div>
        <h1 class="prewiew__title">MODERN AXURE TEMPLATE <br> FOR BEAUTIFUL PROTOTYPES</h1>
        <img src="img/divider_white_u72.png" alt="" class="divider-white">
        <p class="prewiew__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean<br>
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus<br>
            accumsan et viverra justo commodo.</p>
        <form class="prewiew__button">
            <button><a href="#">Download</a></button>
        </form>
    </div>
    <form class="signup">
        <h2 class="signup__title">Try Your <span class="signup_colortext">FREE</span> Trial Today</h2>
        <div class="signup__input">
            <input type="text" placeholder="Name">
        </div>
        <div class="signup__input">
            <input type="text" placeholder="Email">
        </div>
        <div class="signup__input">
            <input type="text" placeholder="Password">
        </div>
        <div  class="signup__button">
            <button><a href="#">Get Started</a></button>
        </div>
    </form>
</header>