<section class="pricing">
    <h1 class="great-title">PRICING OPTIONS</h1>
    <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
    <p class="great-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="pricing-var">
        <table>
            <tr>
                <th class="var-one">Basic</th>
            </tr>
            <tr>
                <td class="var-two"><span style="font-size: 35px">$</span>0</td>
            </tr>
            <tr>
                <td class="var-three">Free for Life</td>
            </tr>
            <tr>
                <td class="var-four">1 GB OF SPACE</td>
            </tr>
            <tr>
                <td class="var-four">10 GB OF BANDWIDTH</td>
            </tr>
            <tr>
                <td class="var-four">3 WEBSITES</td>
            </tr>
            <tr>
                <td class="var-four">BASIC COSTOMIZATION</td>
            </tr>
            <tr>
                <td class="var-four">WORDPRESS INTEGRATION</td>
            </tr>
            <tr>
                <td class="var-four">EMAIL SUPPORT</td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="var-one">Professional</th>
            </tr>
            <tr>
                <td class="var-two"><span style="font-size: 35px">$</span>19</td>
            </tr>
            <tr>
                <td class="var-three">Monthly Payment</td>
            </tr>
            <tr>
                <td class="orange-slot">OUR MOST POPULAR</td>
            </tr>
            <tr>
                <td class="var-four">5 GB OF SPACE</td>
            </tr>
            <tr>
                <td class="var-four">50 GB OF BANDWIDTH</td>
            </tr>
            <tr>
                <td class="var-four">12 WEBSITES</td>
            </tr>
            <tr>
                <td class="var-four">ADVANCED COSTOMIZATION</td>
            </tr>
            <tr>
                <td class="var-four">WORDPRESS INTEGRATION</td>
            </tr>
            <tr>
                <td class="var-four">EMAIL SUPPORT</td>
            </tr>
        </table>
        <table>
            <tr>
                <th class="var-one">Enterprise</th>
            </tr>
            <tr>
                <td class="var-two"><span style="font-size: 35px">$</span>70</td>
            </tr>
            <tr>
                <td class="var-three">Monthly Payment</td>
            </tr>
            <tr>
                <td class="var-four">UNLIMITED SPACE</td>
            </tr>
            <tr>
                <td class="var-four">UNLIMITED BANDWIDTH</td>
            </tr>
            <tr>
                <td class="var-four">100 WEBSITES</td>
            </tr>
            <tr>
                <td class="var-four">ADVANCED COSTOMIZATION</td>
            </tr>
            <tr>
                <td class="var-four">WORDPRESS INTEGRATION</td>
            </tr>
            <tr>
                <td class="var-four">24/7 SUPPORT</td>
            </tr>
        </table>
    </div>
</section>