    <!-- process -->

<section class="process">
    <h1 class="great-title">WHY THIS IS AWESOME</h1>
    <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
    <p class="great-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="process__article">
        <div>
            <img src="icon/icon_awesome.png" alt="" class="process__icon">
            <h2 class="process__title">Thoughtful Design</h2>
            <p class="process__text">Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Aenean euismod bibendum laoreet. Proin gravida 
                dolor sit amet lacus accumsan et viverra.</p>
        </div>
        <div>
            <img src="icon/icon_awesome_1.png" alt=""class="process__icon">
            <h2 class="process__title">Well Crafted</h2>
            <p class="process__text">Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Aenean euismod bibendum laoreet. Proin gravida 
                dolor sit amet lacus accumsan et viverra.</p>
        </div>
        <div>
            <img src="icon/icon_awesome_2.png" alt="" class="process__icon">
            <h2 class="process__title">Easy to Customize</h2>
            <p class="process__text"> Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit. Aenean euismod bibendum laoreet. Proin gravida 
                dolor sit amet lacus accumsan et viverra.</p>
        </div>
    </div>
</section>