<section class="testimonials">
    <h1 class="great-title">WHAT OUR CUSTOMERS ARE SAYING</h1>
    <img src="img/divider_orange_u7_copy_3.png" alt="" class="divider-orange">
    <p class="great-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="review">
        <div>
            <p class="review-repl">Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Doloribus 
                accusamus expedita repellat similique 
                odio aspernatur ex, architecto eaque 
                quo suscipit.</p>
            <div class="review-info">
                <img src="img/avatar_2_u231.png" alt="" class="review-face">
                <h3 class="review-name">Jeremy H.</h3>
                <p class="review-post">Manager</p>
            </div>
        </div>
        <div>
            <p class="review-repl">Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Doloribus 
                accusamus expedita repellat similique 
                odio aspernatur ex, architecto eaque 
                quo suscipit.</p>
            <div class="review-info">
                <img src="img/avatar_2_u231.png" alt="" class="review-face">
                <h3 class="review-name">John S.</h3>
                <p class="review-post">Freelancer</p>
            </div>
        </div>
        <div>
            <p class="review-repl">Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Doloribus 
                accusamus expedita repellat similique 
                odio aspernatur ex, architecto eaque 
                quo suscipit.</p>
            <div class="review-info">
                <img src="img/avatar_2_u231.png" alt="" class="review-face">
                <h3 class="review-name">Susan W.</h3>
                <p class="review-post">Photographer</p>
            </div>
        </div>
    </div>
</section>